<!DOCTYPE html>
<html>
<script src="./Vue/vue.js"></script>

<body>


<div id="app">
  <h1>{{ message }}</h1>
  Var a:
  <input v-model="a" v-on:input="add">
  <br/>
  Var b:
  <input v-model="b" v-on:input="add">
  <br/>
  Var c = a + b : {{ c }}
  <br/>
  Total {{ a }} + {{ b }} (calculated): {{ parseInt(a) + parseInt(b) }}

  <div id="dialog" title="JQuery-ui dialog from VUE!">
    <p>This is the default dialog created on VUE instance. The dialog window can moved, resized and closed with the 'x' icon.</p>
  </div>

</div>

<script src="./Vue/app.js"></script>
</body>
</html>
